language: python

python:
  - '2.7'

install:
  - pip install coveralls
  - pip install -r requirements.txt
  - sudo cp irrexplorer_config.yml.dist irrexplorer_config.yml
  - python setup.py install

script:
  - python setup.py nosetests

after_success:
  - coveralls
