{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
{{super()}}
<style>
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#error {
    font-size: 14pt;
    background-color: #FFA5A5;
    display: none;
    padding: 10px 20px;
    border-radius: 2px;
}

td { white-space: nowrap; }
</style>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
<div class="container" style="width:90%">

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="https://raw.githubusercontent.com/job/irrexplorer/master/docs/irrexplorer-logo.png" />
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <div class="row">&nbsp;
                </div>
                <form id="form">
                    <h2>Prefix</h2><input type="text" name="prefix"/>
                    <button id="btnsearch" type="submit" class="btn btn-primary" name="search" value="Search">Search</button>
                </form>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div>

                    <div class="row" id="loading" style="display:none">
                        <div class="col-md-2 col-md-offset-5"><img src="/static/img/loading.gif"/></div>
                    </div>
                <table id="example" class="display" cellspacing="0" width="100%"></table>
                <div id="error"></div>

            </div>
        </div>
        <div class="row">
        </div>
    </div>

    <div class="col-md-3">
    </div>

</div>
<div>
    <div class="pull-right">
        Source code available on <a href="https://github.com/job/irrexplorer">Github</a>.
    </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    // look at what is after /prefix/ in the URL
    // if something is present then search straight away
    prefixurl = "";
    var pathArray = window.location.pathname.split( '/' );
    if (pathArray[pathArray.length - 1 ] != "exact_prefix") {
        if (pathArray[pathArray.length - 2] == "exact_prefix") {
            prefixurl = pathArray[pathArray.length - 1];
        }
        if (pathArray[pathArray.length - 3] == "exact_prefix") {
            prefixurl = pathArray[pathArray.length - 2] + "/" + pathArray[pathArray.length - 1];
        }
    };
    if (prefixurl != "") {
        $('form').find('input[name="prefix"]').val(prefixurl);
        prefixsearch();
    };

    $("form").submit(function (e) {
        e.preventDefault(); //prevent default form submit
        window.location.href = '/prefix/' + $('form').find('input[name="prefix"]').val();
        //prefixsearch();
    });

});

function state_loaded() {
    $("#btnsearch").prop("disabled",false); 
    $("#loading").hide();
    $("#btnsearch").html('Search');  
}

function state_loading() {
    $("#btnsearch").prop("disabled",true);
    $("#btnsearch").html('Searching...');
    $("#loading").show();
}

function prefixsearch() {
    var prefix = $('form').find('input[name="prefix"]').val();
        if (prefix.length > 0)
        {
            state_loading();
            $.ajax({
                url: '/exact_prefix_json/' + prefix,
                success: function (data) {
                    state_loaded();
                    prefixes = JSON.parse(data);
                    populatetable('#example', prefixes);
                },
                error: function(error) {
                    state_loaded();
                    errMsg = $(error.responseText).filter("p").text();
                    console.log(errMsg);
                    $("#error").text(errMsg);
                    $("#error").show()
                },
                cache: false
            });
        };
}

function rendererImgFunction(data, alldata, fieldname, prefix) {
    console.log(alldata['label']);
    if (typeof data != 'undefined') {
        switch (data.toString()) {
            case "true":
                return "<img src='/static/img/true.png'>";
            case "false":
                return "<img src='/static/img/false.png'>";
            default:
                if (fieldname == "advice") {
                    console.log(alldata['label']);
                    return "<span class='label label-" + alldata['label'] + "'>" + data + "</span>";
                } else if (fieldname == "bgp_origin") {
                    return "<a href=\"http://lg.ring.nlnog.net/query/" + prefix + "\">" + data + "</a>";
                }
                else {
                    return data;    
                }
        }
    } else {
        return "";
    }
}

function getfields(prefix_data) {

    prefixes = Object.keys(prefix_data);
    fieldsfound = Object.keys(prefix_data[prefixes[0]]).sort();

    fields = ["prefix", "bgp_origin", "advice"];
    fieldsend = ["ripe_managed"];
    fieldshide = ["label"];
    for (var field in fieldsfound) {
        fieldname = fieldsfound[field];
        if (fieldsend.indexOf(fieldname) == -1) {
            if (fields.indexOf(fieldname) == -1) {
                if (fieldshide.indexOf(fieldname) == -1) {
                    fields.push(fieldname);
                }
            }
        }
    }
    fields.push.apply(fields, fieldsend);

    return fields

}

function populatetable(tblname, prefix_data) {
    console.log(prefix_data);

    fields = getfields(prefix_data);

    $("#example").hide();

    console.log(fields);
    rows = [];
    prefixes = Object.keys(prefix_data);
    for (var pfxint in prefixes) {
        prefix = prefixes[pfxint];
        prefixprops = prefix_data[prefix];
        row = [
        ];
        for (var f in fields) {
            field = fields[f];
            if (field == "prefix") {
                row.push(prefix);
            } else {
                row.push(rendererImgFunction(prefixprops[field], prefixprops, field, prefix))
            }
        }
        //console.log(row);
        rows.push(row);
    };

    colsdisp = [];
    for (var f in fields) {
        field = fields[f];
        coldisp = {"title": field}
        colsdisp.push(coldisp);
    }
    if ( ! $.fn.DataTable.isDataTable( '#example' ) ) {
        $("#example").dataTable( {
                "data": rows,
                "columns": colsdisp,
                "searching": false,
                "lengthChange": false,
                "bPaginate": false
            } );   
    } else {
        // just update, already set the table up once
        $("#example").dataTable().fnClearTable();
        $("#example").dataTable().fnAddData(rows);
           
    }


    $("#example").show();
}

</script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}

{% endblock %}
